@keyframes rightToLeftDouble{
    0% {
        right: -89px;
    }
    20% {
        right: 40px;
    }
    40% {
        right: 90px;
    }
    50% {
        right: 120px;
    }
    100% {
        right: 0;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    5% {
        opacity: .6;
    }
    15% {
        opacity: 1;
    }
    20% {
        color: #FFF;
    }
    60% {
        color: #000;
    }
    80% {
        color: #FFF;
    }
    90% {
        color: #000;
    }
    100% {
        color: #FFF;
    }
}

@keyframes rightToLeft {
    0% {
        right: -89px;
    }
    80% {
        right: 80%;
    }
    100% {
        right: 100%;
    }
}

@keyframes smoothWidth{
    0%{width: 40px;}
    100%{width: 180px;}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        right:-20px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulseIcon {
    0% {
        opacity: 0;
        transform: scale(.2);
    }
    60% {
        opacity: .4;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sweep {
    0% {
        width: 40px;
    }
    100% {
        width: 100px;
    }
}